*{
    margin: 0x;
    padding: 0px;
    box-sizing: border-box;
}
html{
    cursor: url('./icon/nads.png'), auto ;
}
body{
    background-color: rgb(46, 45, 45);
    padding: 20px;
}
.btn{
    background-color:  rgb(32, 31, 31);
    color: #bdb9b9;
    font-size: 25px;
    padding: 10px 25px;
    margin-bottom: 30px;
}
.title{
    color: #bdb9b9;
    font-size: 50px;
    margin-bottom: 40px;
}
.block{
    width: 300px;
    height: 300px;
    background-color: rgb(44, 28, 31);
    padding: 40px;
    transition: 0.5s;
}
.title:hover{
    color: red;
}
.btn:hover ~ .block{
    background-color: blue;
    border-radius: 50%;
    width: 700px;
    
}
