*{
    margin: 0x;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgba(67, 24, 134, 0.774);
    padding: 1000px 200px;
}
hr{
    margin: 30px 0px;
}
.btn{
    padding: 10px 30px;
    font-size: 10px;
    background-color: rgb(99, 48, 146);
    border-color: rgb(99, 48, 146);
}
.block{
    width: 400px;
    padding: 25px;
    background-color: rgb(89, 53, 112);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;

}
.box{
    width: 50px;
    height: 30px;
    border: 2px solid black;
}
