*{
    margin: 0x;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgba(67, 24, 134, 0.774);
    padding: 20px;
}
.pagw{
   background-color: rgb(16, 80, 109); 
   padding: 50px 100px 0;
   min-height: 100vh;
}
.btn{
    padding: 10px 30px;
    font-size: 26px;
}
.menu{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.tab{
    width: 800px;
    height: 500px;
    margin: 30px auto;
}
.item{
    width: 100%;
    height: 100%;
}
.itemTab{
    width: 100%;
    height: 100%;   
}

.hidden{
    display: none;
}
.act{
    background-color: rgb(127, 177, 93);
    color: rgb(12, 126, 107);
}
.anime{
    animation: anime 2s;
}
.show{
    display: block;
}
@keyframes anime{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}