* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: rgb(112, 158, 81);
    padding: 50px 150px;

}
.scr {
    width: 400px;
    border: 2px solid black;
    float: right;
    margin-left: 50px;
}
/* .block{
    display: flex;
} */
.zag{
font-size: 40px;
margin-bottom: 20px;
}
.text {
    font-size: 26px;
    line-height: 2;
    text-align: justify;
}