*{
    margin: 0x;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(46, 99, 134);
    padding: 20px 200px;
}
.head{
    width: 100%;
    min-height: 90px;
    background-color: rgb(56, 139, 172);
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.left{
    display: flex;
    gap: 20px;
    align-items: center;
}
.title{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(16, 65, 121);
}
.right{
    display: flex;
    gap: 20px;
    align-items: center;
}
.btn{
    padding: 10px 20px;
    background-color: rgb(16, 105, 101);
    border: none;
}
.Avotar{
    width: 50px;
    height: 50px;
}
.link{
   text-decoration: none;
   display: flex;
   align-items: center; 
   gap: 10px;
}
.link_text{
    font-size: 22px;
    text-decoration: none;
    color: rgb(19, 71, 212);
}