*{
    margin: 0x;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgba(67, 24, 134, 0.774);
    padding: 20px 200px;
}
hr{
    margin: 30px 0px;
}
.btn{
    padding: 10px 30px;
    font-size: 10px;
}
.activ{
    color: red;
}
.imgg{
    width: 50px;
}
.block{
    width: 300px;
    background-color: rgb(69, 173, 177);
}