*{
    margin: 0x;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(77, 45, 112);
    padding: 20px;
}
hr{
    margin: 15px 0px;
    border-color: rgb(8, 133, 95);
}
.form{
    width:  500px;
    padding: 20px;
    border: 2px solid black;
    background-color: rgb(112, 62, 141);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.inp{
    background-color: rgb(123, 84, 160);
    border: solid black;
    font-size: 22px;
    padding: 5px 10px;
}
.btn{
    font-size: 22px;
    padding: 10px 10px;
    background-color: rgb(79, 26, 122);
    border: solid black;
    margin: 5px;
}


