*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    padding: 50px;
}
.text{
    margin: 40px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 22px;
    text-align: justify;
    line-height: 1.7;
    
}
table{
    border:2px solid black;
    border-collapse: collapse;
}
th,td{
    border: 2px solid blue;
    width: 200px;
    height: 150px;
}
.row2{
    background-color: gray;
}
.hap{
    background-color: rgb(71, 71, 223);
    font-size: 30px;
    vertical-align: bottom;
    text-align: left;
}
#el{
    color: red;
    font-size: 40px;
}
.reg{
    color: aliceblue;
    background-color: black;
}