*{
    margin: 0x;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgba(67, 24, 134, 0.774);
    padding: 20px;
}
.fan{
    max-width: 1200px;
    min-height: 100vh;
    background-color: rgb(17, 116, 155);
    margin: 0 auto;
}
.slider{
    position: relative;
    height: 100vh;
}
.pic{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;

}
.pic_im{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.prev,.next{
    padding: 10px 30px;
    font-size: 20px;
    position: absolute;
    top: 50%;

}
.next{
    right: 50px;
}
.prev{
    left: 50px;
}
.act{
    opacity: 1;
}   