*{
    margin: 0x;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgba(67, 24, 134, 0.774);
    padding: 10px 20px;
}
#div1{
    background-color: blue;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 200px;
    left: 400px;
}