*{
    margin: 0x;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(35, 51, 95);
    padding: 20px 200px;
}
hr{
    margin: 15px 0px;
    border-color: rgb(8, 133, 95);
}
.form{
    width: 600px;
    padding: 20px;
    border: 2px solid black;
    background-color: rgb(96, 84, 202);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-radius: 20px;
}
fieldset{
    width: 100%;
    border: solid black;
    padding: 15px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
legend{
    font-size: 20px;
    padding: 0px 20px;  
}
.btn{
    font-size: 20px;
    padding: 10px 30px;
    border: solid black;
    background-color: rgb(38, 79, 189);
    border-radius: 90px;
}
label,input{
    font-size: 15px;
    background-color: rgb(90, 83, 185);
    padding: 10px 10px;
}
select{
    font-size: 15px;
    background-color: rgb(90, 83, 185);
    padding: 10px 30px;
}
textarea{
    width: 100%;
    height: 70px;
    padding: 15px;
    font-size: 15px;
    background-color: rgb(90, 83, 185);
    resize: none;

}