* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(46, 66, 99);
    padding: 50px;
}
.title{
    font-style: italic;
    text-decoration: underline;
    margin-bottom: 50px;
    color: rgb(22, 196, 202);
}
.block {
    height:  500px;
    border: 2px solid rgb(22, 196, 202);
    display: flex;
    /*flex-direction: row;*/
    /* justify-content: center; */
    /* flex-wrap: wrap; */
     align-items: start;
    align-content: center;
    /* gap: 10px 40px; */
}
.card {
    /*flex-grow: 1;*/
    width: 300px;
    height: 200px;
    border: 2px solid black;
    padding: 25px;
    background-color: rgb(88, 156, 151);
    font-size: 40px;
    flex-shrink: 0;

}
.text {
    margin-top: 20px;
    font-size: 25px;
    text-align: justify;
    line-height: 1.8;
    color: rgb(22, 196, 202);
    font-style: italic;
    text-decoration: underline;
}
/* .c2 {
    flex-grow: 1;
}
.c3 {
    flex-grow: 4;
} */

/* .c3 {
    flex-shrink: 1;
} */
  /* .c1{
    order: 5;
 }
 .c2{
    order: 1;
 }
 .c3{
    order: 2;
 }
 .c4{
    order: 4;
 } 
 .c5{
    order: 3;
 } */
.c4 {
    align-self: flex-end;
}