*{
    margin: 0x;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgba(67, 24, 134, 0.774);
    padding: 20px;
}
.fan{
    max-width: 1200px;
    min-height: 100vh;
    background-color: rgb(17, 116, 155);
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.win{
    width: 500px;
    height: 500px;
    overflow: hidden;
}
.pic{
    flex:0 0 500px;
    height: 500px;
}
.pic_im{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider{
    display: flex;
    position: relative;
    left: 0;
    transition: 1s;
}
.btn{
    padding: 10px 30px;
    font-size: 24px;
}